.a{
    color: rgb(191, 81, 134);
}

body{
    background-color:beige;
}

#footpage{
    display: inline-block;
    width: 1000px;
    margin-left: 130px;
    margin-top: 230px;
    
    border: 1px solid black;
    box-shadow: 1px 2px 1px black;

    
}